@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './loader.css';


.product-list {
    display: grid;
}

.mtable  {
    @apply min-w-full;
}


.mgrid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
  }
  .mdes {
    grid-column: 1 / span 3;
    grid-row: 2;
  }
  
  .mgrid > div {
    height: 100%;
  }
  th {
    text-align: left;
  }
  td {
    @apply border;
  }
  table {
    max-width: 100rem;
  }
  td:nth-child(1) {
    min-width: 0.5rem;
  }
  td:nth-child(n+3):nth-child(-n+4) {
    text-align: end;
  }

.mbtn {
    @apply rounded;
    @apply bg-blue-900;
    @apply text-white;
}

.mbtn > .block {
  color: #000 !important;
}

.jet-button {
@apply inline-flex;
@apply items-center;
@apply px-4;
@apply py-2;
@apply bg-gray-800;
@apply border;
@apply border-transparent;
@apply rounded-md;
@apply font-semibold;
@apply text-xs;
@apply text-white;
@apply uppercase;
@apply tracking-widest;
@apply transition;
@apply ease-in-out;
@apply duration-150;
}